" plugins
set clipboard+=unnamed
set clipboard+=ideaput
set ignorecase
set NERDTree
set smartcase
set wrapscan                      " searches wrap around the end of the file
set history=10000                 " keep x lines of command line history
set commentary                    " commenting
set easymotion
set surround
set multiple-cursors
set highlightedyank
set showmode


" plugin settings
let g:argtextobj_pairs="[:],(:),<:>"
" behave underscore as not a word
set iskeyword-=_

" itellimmacs
source ~/.intellimacs/spacemacs.vim

" intellimacs (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" intellimacs (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" intellimacs (Optional) Comma for major mode
nmap , <leader>m
vmap , <leader>m

" intellimacs (Optional) Add/edit actions
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>

" my bindings
map <leader>si :action FileStructurePopup<CR>
map <leader>tg :action CodeGlance.toggle<CR>
map <leader>o :action RecentLocations<CR>

" idea settings
set ideastatusicon=gray

" cie equals to ggVGc (change in whole document)
set textobj-entire
set ReplaceWithRegister

" some extra movements
inoremap <c-e> <end>
inoremap <c-a> <home>
nnoremap L $
nnoremap H ^
inoremap <c-h> <left>
inoremap <c-l> <right>
inoremap <c-k> <up>
inoremap <c-j> <down>

" alt-x ctrl+shift+a
nmap <A-x> :action GotoAction<CR>

" move line/selection up and down
" remember: use ctrl+shift+up/down for statement movement
nmap <A-p> :action MoveLineUp<CR>
nmap <A-n> :action MoveLineDown<CR>
xnoremap <A-p> xkP`[V`]
xnoremap <A-n> xp`[V`]


" code navigation using ctrl-o and ctrl-i
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" make Y yank till end of line
map Y y$

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv
