@define-color background #1a1b26;
@define-color background-light #24283b;
@define-color foreground #c0caf5;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color mistyRose #ffe4e1;
@define-color rosyBrown #cd9b9b;
@define-color orchid #da70d6;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color orange #ff9e64;
@define-color brown #8b4513;
@define-color pink #ff1493;

@define-color workspaces-color @foreground;
@define-color workspaces-focused-bg @green;
@define-color workspaces-focused-fg @cyan;
@define-color workspaces-urgent-bg @red;
@define-color workspaces-urgent-fg @black;

@define-color mode-color @orange;
@define-color mpd-color @magenta;
@define-color weather-color @mistyRose;
@define-color playerctl-color @magenta;
@define-color clock-color @blue;
@define-color tray-color @white;
@define-color cpu-color @green;
@define-color memory-color @magenta;
@define-color language-color @white;
@define-color temperature-color @yellow;
@define-color temperature-critical-color @red;
@define-color battery-color @cyan;
@define-color battery-charging-color @green;
@define-color battery-warning-color @yellow;
@define-color battery-critical-color @red;
@define-color network-color @mistyRose;
@define-color pulseaudio-color @cyan;
@define-color pulseaudio-muted-color @orange;
@define-color backlight-color @yellow;
@define-color disk-color @rosyBrown;
@define-color uptime-color @white;
@define-color updates-color @orange;
@define-color quote-color @green;
@define-color idle-inhibitor-color @foreground;
@define-color idle-inhibitor-active-color @red;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'Noto Sans Mono', 'Font Awesome 6 Free', 'Font Awesome 6 Brands', monospace;
    font-size: 0.97em;
}

window#waybar {
    background-color: @background;
    border-top: 1px solid @background-light;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: @background;
}

#mode, #mpd, #custom-weather, #custom-playerctl, #clock, #cpu,
#memory, #temperature, #battery, #network, #pulseaudio,
#backlight, #disk, #custom-uptime, #custom-updates, #custom-quote,
#idle_inhibitor, #tray, #language {
    padding: 0 10px;
    margin: 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
#mode:hover, #mpd:hover, #custom-weather:hover, #custom-playerctl:hover, #clock:hover, #cpu:hover,
#memory:hover, #temperature:hover, #battery:hover, #network:hover, #pulseaudio:hover,
#backlight:hover, #disk:hover, #custom-uptime:hover, #custom-updates:hover, #custom-quote,
#idle_inhibitor:hover, #tray:hover, #language:hover {
    background: @background-light;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @workspaces-color;
    margin: 0;
}

#workspaces button:hover {
    background: @background-light;
    box-shadow: inherit;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px @workspaces-focused-fg;
    color: @workspaces-focused-fg;
}

#workspaces button.urgent {
    background-color: @workspaces-urgent-bg;
    color: @workspaces-urgent-fg;
}

#mode {
    color: @mode-color;
    border-bottom-color: @mode-color;
}

#mpd {
    color: @mpd-color;
    border-bottom-color: @mpd-color;
}

#mpd.disconnected,
#mpd.stopped {
    color: @foreground;
    border-bottom-color: transparent;
}

#custom-weather {
    color: @weather-color;
    border-bottom-color: @weather-color;
}

#custom-playerctl {
    color: @playerctl-color;
    border-bottom-color: @playerctl-color;
}

#custom-playerctl.Playing {
    color: @cyan;
    border-bottom-color: @cyan;
}

#custom-playerctl.Paused {
    color: @orange;
    border-bottom-color: @orange;
}

#clock {
    color: @clock-color;
    border-bottom-color: @clock-color;
}

#cpu {
    color: @cpu-color;
    border-bottom-color: @cpu-color;
}

#memory {
    color: @memory-color;
    border-bottom-color: @memory-color;
}

#language {
    color: @language-color;
    border-bottom-color: @language-color;
    min-width: 20px;
}

#temperature {
    color: @temperature-color;
    border-bottom-color: @temperature-color;
}

#temperature.critical {
    color: @temperature-critical-color;
    border-bottom-color: @temperature-critical-color;
}

#battery {
    color: @battery-color;
    border-bottom-color: @battery-color;
}

#battery.charging, #battery.plugged {
    color: @battery-charging-color;
    border-bottom-color: @battery-charging-color;
}

#battery.warning:not(.charging) {
    color: @battery-warning-color;
    border-bottom-color: @battery-warning-color;
}

#battery.critical:not(.charging) {
    color: @battery-critical-color;
    border-bottom-color: @battery-critical-color;
}

#network {
    color: @network-color;
    border-bottom-color: @network-color;
}
#network.disconnected {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    border: 0px;
}

#pulseaudio {
    color: @pulseaudio-color;
    border-bottom-color: @pulseaudio-color;
}

#pulseaudio.muted {
    color: @pulseaudio-muted-color;
    border-bottom-color: @pulseaudio-muted-color;
}

#backlight {
    color: @backlight-color;
    border-bottom-color: @backlight-color;
}

#disk {
    color: @disk-color;
    border-bottom-color: @disk-color;
}

#custom-uptime {
    color: @uptime-color;
    border-bottom-color: @uptime-color;
}

#custom-updates {
    color: @updates-color;
    border-bottom-color: @updates-color;
}

#custom-quote {
    color: @quote-color;
    border-bottom-color: @quote-color;
}

#idle_inhibitor {
    color: @idle-inhibitor-color;
    border-bottom-color: transparent;
}

#idle_inhibitor.activated {
    color: @idle-inhibitor-active-color;
    border-bottom-color: @idle-inhibitor-active-color;
}

#tray {
    background-color: transparent;
    border-bottom-color: @tray-color;
    font-size: 1.2em;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
    border-bottom-color: @red;
}
